.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-9nLFMTOYyhoz);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-4mVccJfLJZ9E);
  font-family: var(--token-1OLujWvfJZH8);
  font-size: var(--token-ten5NXGtcWeL);
  line-height: var(--token-3lxzED2cosZR);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-WSj9bv-rpBMf);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-NF_Ck2_0_E0o);
  outline-offset: 1px;
  outline-color: var(--token-9nLFMTOYyhoz);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-KeqO2vKk15Pp);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-zwvyBvnJaJt1);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-fgL7FxHn_yOS);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-P5oIeqb54E6a);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-qkxzbEb-uwlX);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-LEl65XHxu3QD);
  font-size: var(--token-bNS0eKiOn-k7);
  column-gap: var(--token-NF_Ck2_0_E0o);
  row-gap: 0px;
  border-radius: var(--token--a7nOzcSONM3);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-bNS0eKiOn-k7);
  line-height: var(--token-LEl65XHxu3QD);
  column-gap: var(--token--a7nOzcSONM3);
  row-gap: 0px;
  border-radius: var(--token--a7nOzcSONM3);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-8ghJN4hgOjbk);
  line-height: var(--token-b-nY6GLEqd4Y);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-8ghJN4hgOjbk);
  line-height: var(--token-b-nY6GLEqd4Y);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-R2OibyIGwBga);
  border-radius: var(--token-WSj9bv-rpBMf);
}
.softBackgroundcolor_neutral {
  background: var(--token-kEljsg1ExXqm);
}
.softBackgroundcolor_muted {
  background: var(--token-JyfXUu0LlQum);
}
.softBackgroundcolor_success {
  background: var(--token-inQarBRJhJF9);
}
.softBackgroundcolor_warning {
  background: var(--token-f6iKfMumzJah);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-3WTlc40E5VHJ);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-WSj9bv-rpBMf);
  border: 0px solid var(--token-gqpTn-um5pcW);
}
.bordercolor_neutral {
  border-color: var(--token-1F0mcSdWtw7R);
}
.bordercolor_muted {
  border-color: var(--token-041a3STFikJU);
}
.bordercolor_success {
  border-color: var(--token--kJaiDVWEaPf);
}
.bordercolor_warning {
  border-color: var(--token-sBvotsGJEPdS);
}
.bordercolor_errorDestructive {
  border-color: var(--token-pUzj0xuw3gYL);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-WSj9bv-rpBMf);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-y5LHA_k4ogpo);
}
.root[data-disabled] .interactionEffect {
  background: var(--token--lwdPPXhj7io);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-gG-xb21HYjkg);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__c19Sq {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-WSj9bv-rpBMf);
  min-width: 0;
  min-height: 0;
  padding: var(--token-WSj9bv-rpBMf) var(--token-3_mM_U6f20AH);
}
.freeBoxsize_extraSmall__c19SqdkKEn {
  padding: var(--token--a7nOzcSONM3) var(--token-WSj9bv-rpBMf);
}
.freeBoxsize_small__c19SqejAf {
  padding: var(--token-WSj9bv-rpBMf) var(--token-4mVccJfLJZ9E);
}
.freeBoxsize_large__c19SqZhrua {
  padding-top: var(--token--a7nOzcSONM3);
  padding-bottom: var(--token--a7nOzcSONM3);
}
.freeBoxsize_extraLarge__c19Sq0Qtk {
  padding-left: var(--token-doluf2FzTCUd);
  padding-right: var(--token-doluf2FzTCUd);
}
.freeBoxroundedFull__c19SqN0F1 {
  padding-right: var(--token-doluf2FzTCUd);
  padding-left: var(--token-doluf2FzTCUd);
}
.freeBox___9AY17 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___9AY17PLFD {
  display: flex;
}
.slotTargetStart {
  color: var(--token-J3gty5Ea5ys6);
}
.slotTargetStartcolor_neutral {
  color: var(--token-tkYkNUs53kC0);
}
.slotTargetStartcolor_muted {
  color: var(--token-gJGjIxvam03Y);
}
.slotTargetStartcolor_success {
  color: var(--token-m9nAH1QNXKJB);
}
.slotTargetStartcolor_warning {
  color: var(--token-TgKUESOGY4WB);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-taLVJHxc1yoN);
}
.slotTargetStarttype_soft {
  color: var(--token-7n8KcPSxDyeG);
}
.slotTargetStarttype_bordered {
  color: var(--token-7n8KcPSxDyeG);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-bNS0eKiOn-k7);
}
.slotTargetStartsize_small {
  font-size: var(--token-bNS0eKiOn-k7);
}
.slotTargetStartsize_large {
  font-size: var(--token-8ghJN4hgOjbk);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-8ghJN4hgOjbk);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-FJsAfPAIS7GK);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-FJsAfPAIS7GK);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-C6vdtWWw_tdn);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-C6vdtWWw_tdn);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-nl99gIggMOMU);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-nl99gIggMOMU);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-OsXZN5jXbaVh);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-OsXZN5jXbaVh);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-6XEFC_jNLOaN);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-6XEFC_jNLOaN);
}
.svg__shMfE {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-J3gty5Ea5ys6);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-tkYkNUs53kC0);
}
.slotTargetLabelcolor_muted {
  color: var(--token-gJGjIxvam03Y);
}
.slotTargetLabelcolor_success {
  color: var(--token-m9nAH1QNXKJB);
}
.slotTargetLabelcolor_warning {
  color: var(--token-TgKUESOGY4WB);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-taLVJHxc1yoN);
}
.slotTargetLabeltype_soft {
  color: var(--token-7n8KcPSxDyeG);
}
.slotTargetLabeltype_bordered {
  color: var(--token-7n8KcPSxDyeG);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-FJsAfPAIS7GK);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-C6vdtWWw_tdn);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-FJsAfPAIS7GK);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-nl99gIggMOMU);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-C6vdtWWw_tdn);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-OsXZN5jXbaVh);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-nl99gIggMOMU);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-6XEFC_jNLOaN);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-OsXZN5jXbaVh);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-6XEFC_jNLOaN);
}
.text__ghh6B {
  white-space: pre;
}
.freeBox__neleG {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__neleGnMGey {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-J3gty5Ea5ys6);
}
.slotTargetEndcolor_neutral {
  color: var(--token-tkYkNUs53kC0);
}
.slotTargetEndcolor_muted {
  color: var(--token-gJGjIxvam03Y);
}
.slotTargetEndcolor_success {
  color: var(--token-m9nAH1QNXKJB);
}
.slotTargetEndcolor_warning {
  color: var(--token-TgKUESOGY4WB);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-taLVJHxc1yoN);
}
.slotTargetEndtype_soft {
  color: var(--token-7n8KcPSxDyeG);
}
.slotTargetEndtype_bordered {
  color: var(--token-7n8KcPSxDyeG);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-bNS0eKiOn-k7);
}
.slotTargetEndsize_small {
  font-size: var(--token-bNS0eKiOn-k7);
}
.slotTargetEndsize_large {
  font-size: var(--token-8ghJN4hgOjbk);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-8ghJN4hgOjbk);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-FJsAfPAIS7GK);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-FJsAfPAIS7GK);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-C6vdtWWw_tdn);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-C6vdtWWw_tdn);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-nl99gIggMOMU);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-nl99gIggMOMU);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-OsXZN5jXbaVh);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-OsXZN5jXbaVh);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-6XEFC_jNLOaN);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-6XEFC_jNLOaN);
}
.svg__rsL5G {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
