@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-9nLFMTOYyhoz: #2563eb;
  --plasmic-token-brand-brand: var(--token-9nLFMTOYyhoz);
  --token-4mVccJfLJZ9E: 0.5rem;
  --plasmic-token-size-8: var(--token-4mVccJfLJZ9E);
  --token-1OLujWvfJZH8: Inter;
  --plasmic-token-sans-serif: var(--token-1OLujWvfJZH8);
  --token-ten5NXGtcWeL: 1rem;
  --plasmic-token-font-md: var(--token-ten5NXGtcWeL);
  --token-3lxzED2cosZR: 1.25;
  --plasmic-token-line-height-md: var(--token-3lxzED2cosZR);
  --token-WSj9bv-rpBMf: 0.375rem;
  --plasmic-token-size-6: var(--token-WSj9bv-rpBMf);
  --token-KeqO2vKk15Pp: #374151;
  --plasmic-token-neutral-neutral: var(--token-KeqO2vKk15Pp);
  --token-qkxzbEb-uwlX: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-qkxzbEb-uwlX);
  --token-zwvyBvnJaJt1: #6b7280;
  --plasmic-token-muted-muted: var(--token-zwvyBvnJaJt1);
  --token--a7nOzcSONM3: 0.25rem;
  --plasmic-token-size-4: var(--token--a7nOzcSONM3);
  --token-bNS0eKiOn-k7: 0.75rem;
  --plasmic-token-font-sm: var(--token-bNS0eKiOn-k7);
  --token-LEl65XHxu3QD: 1;
  --plasmic-token-line-height-sm: var(--token-LEl65XHxu3QD);
  --token-8ghJN4hgOjbk: 1.25rem;
  --plasmic-token-font-lg: var(--token-8ghJN4hgOjbk);
  --token-b-nY6GLEqd4Y: 1.4;
  --plasmic-token-line-height-lg: var(--token-b-nY6GLEqd4Y);
  --token-NF_Ck2_0_E0o: 0.125rem;
  --plasmic-token-size-2: var(--token-NF_Ck2_0_E0o);
  --token-fgL7FxHn_yOS: #16a34a;
  --plasmic-token-success-success: var(--token-fgL7FxHn_yOS);
  --token-P5oIeqb54E6a: #facc15;
  --plasmic-token-warning-warning: var(--token-P5oIeqb54E6a);
  --token-R2OibyIGwBga: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-R2OibyIGwBga);
  --token-kEljsg1ExXqm: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-kEljsg1ExXqm);
  --token-JyfXUu0LlQum: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-JyfXUu0LlQum);
  --token-inQarBRJhJF9: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-inQarBRJhJF9);
  --token-f6iKfMumzJah: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-f6iKfMumzJah);
  --token-3WTlc40E5VHJ: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-3WTlc40E5VHJ);
  --token-gqpTn-um5pcW: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-gqpTn-um5pcW);
  --token-1F0mcSdWtw7R: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-1F0mcSdWtw7R);
  --token-041a3STFikJU: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-041a3STFikJU);
  --token--kJaiDVWEaPf: #86efac;
  --plasmic-token-success-success-border: var(--token--kJaiDVWEaPf);
  --token-sBvotsGJEPdS: #fde047;
  --plasmic-token-warning-warning-border: var(--token-sBvotsGJEPdS);
  --token-pUzj0xuw3gYL: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-pUzj0xuw3gYL);
  --token-y5LHA_k4ogpo: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-y5LHA_k4ogpo);
  --token--lwdPPXhj7io: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token--lwdPPXhj7io);
  --token-gG-xb21HYjkg: #00000033;
  --plasmic-token-interaction-pressed: var(--token-gG-xb21HYjkg);
  --token-3_mM_U6f20AH: 0.625rem;
  --plasmic-token-size-10: var(--token-3_mM_U6f20AH);
  --token-doluf2FzTCUd: 0.75rem;
  --plasmic-token-size-12: var(--token-doluf2FzTCUd);
  --token-J3gty5Ea5ys6: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-J3gty5Ea5ys6);
  --token-tkYkNUs53kC0: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-tkYkNUs53kC0);
  --token-gJGjIxvam03Y: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-gJGjIxvam03Y);
  --token-7n8KcPSxDyeG: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-7n8KcPSxDyeG);
  --token-TgKUESOGY4WB: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-TgKUESOGY4WB);
  --token-m9nAH1QNXKJB: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-m9nAH1QNXKJB);
  --token-taLVJHxc1yoN: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-taLVJHxc1yoN);
  --token-FJsAfPAIS7GK: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-FJsAfPAIS7GK);
  --token-C6vdtWWw_tdn: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-C6vdtWWw_tdn);
  --token-nl99gIggMOMU: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-nl99gIggMOMU);
  --token-OsXZN5jXbaVh: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-OsXZN5jXbaVh);
  --token-6XEFC_jNLOaN: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-6XEFC_jNLOaN
  );
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-bbFssCgwL2lC_font-family: "Inter", sans-serif;
  --mixin-bbFssCgwL2lC_font-size: 16px;
  --mixin-bbFssCgwL2lC_font-weight: 400;
  --mixin-bbFssCgwL2lC_font-style: normal;
  --mixin-bbFssCgwL2lC_color: #535353;
  --mixin-bbFssCgwL2lC_text-align: left;
  --mixin-bbFssCgwL2lC_text-transform: none;
  --mixin-bbFssCgwL2lC_line-height: 1.5;
  --mixin-bbFssCgwL2lC_letter-spacing: normal;
  --mixin-bbFssCgwL2lC_white-space: pre-wrap;
  --mixin-bbFssCgwL2lC_user-select: text;
  --mixin-bbFssCgwL2lC_text-decoration-line: none;
  --mixin-bbFssCgwL2lC_text-overflow: clip;
  --mixin-5k9sh558jiQf_color: #000000;
  --mixin-5k9sh558jiQf_font-weight: 700;
  --mixin-5k9sh558jiQf_font-size: 64px;
  --mixin-5k9sh558jiQf_line-height: 1;
  --mixin-5k9sh558jiQf_letter-spacing: -1px;
  --mixin-5k9sh558jiQf_white-space: pre-wrap;
  --mixin-NzJGdb1rwjCc_color: #000000;
  --mixin-NzJGdb1rwjCc_font-size: 48px;
  --mixin-NzJGdb1rwjCc_font-weight: 700;
  --mixin-NzJGdb1rwjCc_letter-spacing: -0.5px;
  --mixin-NzJGdb1rwjCc_line-height: 1.1;
  --mixin-NzJGdb1rwjCc_white-space: pre-wrap;
  --mixin-gfCR_73HhTp2_color: #0070f3;
  --mixin-gfCR_73HhTp2_white-space: pre-wrap;
  --mixin-znteXZWAsdN1_color: #000000;
  --mixin-znteXZWAsdN1_font-size: 32px;
  --mixin-znteXZWAsdN1_font-weight: 600;
  --mixin-znteXZWAsdN1_line-height: 1.2;
  --mixin-znteXZWAsdN1_white-space: pre-wrap;
  --mixin-8UqXZaDXcTdA_color: #000000;
  --mixin-8UqXZaDXcTdA_font-size: 24px;
  --mixin-8UqXZaDXcTdA_font-weight: 600;
  --mixin-8UqXZaDXcTdA_line-height: 1.3;
  --mixin-8UqXZaDXcTdA_white-space: pre-wrap;
  --mixin-QBsScWSCEe0T_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-QBsScWSCEe0T_border-bottom-color: #dddddd;
  --mixin-QBsScWSCEe0T_border-bottom-style: solid;
  --mixin-QBsScWSCEe0T_border-bottom-width: 1px;
  --mixin-QBsScWSCEe0T_border-left-color: #dddddd;
  --mixin-QBsScWSCEe0T_border-left-style: solid;
  --mixin-QBsScWSCEe0T_border-left-width: 1px;
  --mixin-QBsScWSCEe0T_border-right-color: #dddddd;
  --mixin-QBsScWSCEe0T_border-right-style: solid;
  --mixin-QBsScWSCEe0T_border-right-width: 1px;
  --mixin-QBsScWSCEe0T_border-top-color: #dddddd;
  --mixin-QBsScWSCEe0T_border-top-style: solid;
  --mixin-QBsScWSCEe0T_border-top-width: 1px;
  --mixin-QBsScWSCEe0T_border-bottom-left-radius: 3px;
  --mixin-QBsScWSCEe0T_border-bottom-right-radius: 3px;
  --mixin-QBsScWSCEe0T_border-top-left-radius: 3px;
  --mixin-QBsScWSCEe0T_border-top-right-radius: 3px;
  --mixin-QBsScWSCEe0T_font-family: "Inconsolata";
  --mixin-QBsScWSCEe0T_padding-bottom: 1px;
  --mixin-QBsScWSCEe0T_padding-left: 4px;
  --mixin-QBsScWSCEe0T_padding-right: 4px;
  --mixin-QBsScWSCEe0T_padding-top: 1px;
  --mixin-QBsScWSCEe0T_white-space: pre-wrap;
  --mixin-n4NBmTE5xLAW_border-left-color: #dddddd;
  --mixin-n4NBmTE5xLAW_border-left-style: solid;
  --mixin-n4NBmTE5xLAW_border-left-width: 3px;
  --mixin-n4NBmTE5xLAW_color: #888888;
  --mixin-n4NBmTE5xLAW_padding-left: 10px;
  --mixin-n4NBmTE5xLAW_white-space: pre-wrap;
  --mixin-We2bb_9f-ypp_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-We2bb_9f-ypp_border-bottom-color: #dddddd;
  --mixin-We2bb_9f-ypp_border-bottom-style: solid;
  --mixin-We2bb_9f-ypp_border-bottom-width: 1px;
  --mixin-We2bb_9f-ypp_border-left-color: #dddddd;
  --mixin-We2bb_9f-ypp_border-left-style: solid;
  --mixin-We2bb_9f-ypp_border-left-width: 1px;
  --mixin-We2bb_9f-ypp_border-right-color: #dddddd;
  --mixin-We2bb_9f-ypp_border-right-style: solid;
  --mixin-We2bb_9f-ypp_border-right-width: 1px;
  --mixin-We2bb_9f-ypp_border-top-color: #dddddd;
  --mixin-We2bb_9f-ypp_border-top-style: solid;
  --mixin-We2bb_9f-ypp_border-top-width: 1px;
  --mixin-We2bb_9f-ypp_border-bottom-left-radius: 3px;
  --mixin-We2bb_9f-ypp_border-bottom-right-radius: 3px;
  --mixin-We2bb_9f-ypp_border-top-left-radius: 3px;
  --mixin-We2bb_9f-ypp_border-top-right-radius: 3px;
  --mixin-We2bb_9f-ypp_font-family: "Inconsolata";
  --mixin-We2bb_9f-ypp_padding-bottom: 3px;
  --mixin-We2bb_9f-ypp_padding-left: 6px;
  --mixin-We2bb_9f-ypp_padding-right: 6px;
  --mixin-We2bb_9f-ypp_padding-top: 3px;
  --mixin-We2bb_9f-ypp_white-space: pre-wrap;
  --mixin-41IS6t6uQ_eE_display: flex;
  --mixin-41IS6t6uQ_eE_flex-direction: column;
  --mixin-41IS6t6uQ_eE_align-items: stretch;
  --mixin-41IS6t6uQ_eE_justify-content: flex-start;
  --mixin-41IS6t6uQ_eE_list-style-position: outside;
  --mixin-41IS6t6uQ_eE_padding-left: 40px;
  --mixin-41IS6t6uQ_eE_position: relative;
  --mixin-41IS6t6uQ_eE_list-style-type: disc;
  --mixin-41IS6t6uQ_eE_white-space: pre-wrap;
  --mixin-2qoPxNRF07Me_display: flex;
  --mixin-2qoPxNRF07Me_flex-direction: column;
  --mixin-2qoPxNRF07Me_align-items: stretch;
  --mixin-2qoPxNRF07Me_justify-content: flex-start;
  --mixin-2qoPxNRF07Me_list-style-position: outside;
  --mixin-2qoPxNRF07Me_padding-left: 40px;
  --mixin-2qoPxNRF07Me_position: relative;
  --mixin-2qoPxNRF07Me_list-style-type: decimal;
  --mixin-2qoPxNRF07Me_white-space: pre-wrap;
  --mixin-ysy3KbRxIJcA_color: #000000;
  --mixin-ysy3KbRxIJcA_font-size: 20px;
  --mixin-ysy3KbRxIJcA_font-weight: 600;
  --mixin-ysy3KbRxIJcA_line-height: 1.5;
  --mixin-ysy3KbRxIJcA_white-space: pre-wrap;
  --mixin-IBkiX1HZy_qR_color: #000000;
  --mixin-IBkiX1HZy_qR_font-size: 16px;
  --mixin-IBkiX1HZy_qR_font-weight: 600;
  --mixin-IBkiX1HZy_qR_line-height: 1.5;
  --mixin-IBkiX1HZy_qR_white-space: pre-wrap;
  --mixin-2EUMBzmBSg96_color: #3291ff;
  --mixin-2EUMBzmBSg96_white-space: pre-wrap;
  --mixin-jEKcl9EGto8y_white-space: pre-wrap;
  --mixin-a_EtqG_Zlh33_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-bbFssCgwL2lC_font-family);
  font-size: var(--mixin-bbFssCgwL2lC_font-size);
  font-weight: var(--mixin-bbFssCgwL2lC_font-weight);
  font-style: var(--mixin-bbFssCgwL2lC_font-style);
  color: var(--mixin-bbFssCgwL2lC_color);
  text-align: var(--mixin-bbFssCgwL2lC_text-align);
  text-transform: var(--mixin-bbFssCgwL2lC_text-transform);
  line-height: var(--mixin-bbFssCgwL2lC_line-height);
  letter-spacing: var(--mixin-bbFssCgwL2lC_letter-spacing);
  white-space: var(--mixin-bbFssCgwL2lC_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-5k9sh558jiQf_color);
  font-weight: var(--mixin-5k9sh558jiQf_font-weight);
  font-size: var(--mixin-5k9sh558jiQf_font-size);
  line-height: var(--mixin-5k9sh558jiQf_line-height);
  letter-spacing: var(--mixin-5k9sh558jiQf_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-NzJGdb1rwjCc_color);
  font-size: var(--mixin-NzJGdb1rwjCc_font-size);
  font-weight: var(--mixin-NzJGdb1rwjCc_font-weight);
  letter-spacing: var(--mixin-NzJGdb1rwjCc_letter-spacing);
  line-height: var(--mixin-NzJGdb1rwjCc_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-gfCR_73HhTp2_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-znteXZWAsdN1_color);
  font-size: var(--mixin-znteXZWAsdN1_font-size);
  font-weight: var(--mixin-znteXZWAsdN1_font-weight);
  line-height: var(--mixin-znteXZWAsdN1_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-8UqXZaDXcTdA_color);
  font-size: var(--mixin-8UqXZaDXcTdA_font-size);
  font-weight: var(--mixin-8UqXZaDXcTdA_font-weight);
  line-height: var(--mixin-8UqXZaDXcTdA_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-QBsScWSCEe0T_font-family);
  border-radius: var(--mixin-QBsScWSCEe0T_border-top-left-radius)
    var(--mixin-QBsScWSCEe0T_border-top-right-radius)
    var(--mixin-QBsScWSCEe0T_border-bottom-right-radius)
    var(--mixin-QBsScWSCEe0T_border-bottom-left-radius);
  padding: var(--mixin-QBsScWSCEe0T_padding-top)
    var(--mixin-QBsScWSCEe0T_padding-right)
    var(--mixin-QBsScWSCEe0T_padding-bottom)
    var(--mixin-QBsScWSCEe0T_padding-left);
  border-top: var(--mixin-QBsScWSCEe0T_border-top-width)
    var(--mixin-QBsScWSCEe0T_border-top-style)
    var(--mixin-QBsScWSCEe0T_border-top-color);
  border-right: var(--mixin-QBsScWSCEe0T_border-right-width)
    var(--mixin-QBsScWSCEe0T_border-right-style)
    var(--mixin-QBsScWSCEe0T_border-right-color);
  border-bottom: var(--mixin-QBsScWSCEe0T_border-bottom-width)
    var(--mixin-QBsScWSCEe0T_border-bottom-style)
    var(--mixin-QBsScWSCEe0T_border-bottom-color);
  border-left: var(--mixin-QBsScWSCEe0T_border-left-width)
    var(--mixin-QBsScWSCEe0T_border-left-style)
    var(--mixin-QBsScWSCEe0T_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-n4NBmTE5xLAW_color);
  padding-left: var(--mixin-n4NBmTE5xLAW_padding-left);
  border-left: var(--mixin-n4NBmTE5xLAW_border-left-width)
    var(--mixin-n4NBmTE5xLAW_border-left-style)
    var(--mixin-n4NBmTE5xLAW_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-We2bb_9f-ypp_font-family);
  border-radius: var(--mixin-We2bb_9f-ypp_border-top-left-radius)
    var(--mixin-We2bb_9f-ypp_border-top-right-radius)
    var(--mixin-We2bb_9f-ypp_border-bottom-right-radius)
    var(--mixin-We2bb_9f-ypp_border-bottom-left-radius);
  padding: var(--mixin-We2bb_9f-ypp_padding-top)
    var(--mixin-We2bb_9f-ypp_padding-right)
    var(--mixin-We2bb_9f-ypp_padding-bottom)
    var(--mixin-We2bb_9f-ypp_padding-left);
  border-top: var(--mixin-We2bb_9f-ypp_border-top-width)
    var(--mixin-We2bb_9f-ypp_border-top-style)
    var(--mixin-We2bb_9f-ypp_border-top-color);
  border-right: var(--mixin-We2bb_9f-ypp_border-right-width)
    var(--mixin-We2bb_9f-ypp_border-right-style)
    var(--mixin-We2bb_9f-ypp_border-right-color);
  border-bottom: var(--mixin-We2bb_9f-ypp_border-bottom-width)
    var(--mixin-We2bb_9f-ypp_border-bottom-style)
    var(--mixin-We2bb_9f-ypp_border-bottom-color);
  border-left: var(--mixin-We2bb_9f-ypp_border-left-width)
    var(--mixin-We2bb_9f-ypp_border-left-style)
    var(--mixin-We2bb_9f-ypp_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-41IS6t6uQ_eE_display);
  flex-direction: var(--mixin-41IS6t6uQ_eE_flex-direction);
  align-items: var(--mixin-41IS6t6uQ_eE_align-items);
  justify-content: var(--mixin-41IS6t6uQ_eE_justify-content);
  list-style-position: var(--mixin-41IS6t6uQ_eE_list-style-position);
  padding-left: var(--mixin-41IS6t6uQ_eE_padding-left);
  position: var(--mixin-41IS6t6uQ_eE_position);
  list-style-type: var(--mixin-41IS6t6uQ_eE_list-style-type);
  column-gap: var(--mixin-41IS6t6uQ_eE_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-2qoPxNRF07Me_display);
  flex-direction: var(--mixin-2qoPxNRF07Me_flex-direction);
  align-items: var(--mixin-2qoPxNRF07Me_align-items);
  justify-content: var(--mixin-2qoPxNRF07Me_justify-content);
  list-style-position: var(--mixin-2qoPxNRF07Me_list-style-position);
  padding-left: var(--mixin-2qoPxNRF07Me_padding-left);
  position: var(--mixin-2qoPxNRF07Me_position);
  list-style-type: var(--mixin-2qoPxNRF07Me_list-style-type);
  column-gap: var(--mixin-2qoPxNRF07Me_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-ysy3KbRxIJcA_color);
  font-size: var(--mixin-ysy3KbRxIJcA_font-size);
  font-weight: var(--mixin-ysy3KbRxIJcA_font-weight);
  line-height: var(--mixin-ysy3KbRxIJcA_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-IBkiX1HZy_qR_color);
  font-size: var(--mixin-IBkiX1HZy_qR_font-size);
  font-weight: var(--mixin-IBkiX1HZy_qR_font-weight);
  line-height: var(--mixin-IBkiX1HZy_qR_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-2EUMBzmBSg96_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
